*{
    padding:0px;
    margin:0px;
}
.container-area {
    background-color: #2196f3;
    width: 650px;
    text-align: center;
    color: white;
    height: 300px;
    margin: auto;
    padding: 20px 20px;
}

.login-box form {
    display: flex;
    flex-direction: column;
}
input:focus{
    outline:none;
}
/* ------------------------------
success
------------------------------- */
.deposi-card {
    width: 234px;
    height: 100px;
    background: #03a9f4;
    margin: 3px;
    color: white;
    text-align: left;
    padding: 15px 10px;
    border-radius: 7px;
}

.deposit-card-area {
    display: flex;
    justify-content: center;
}
.card1 {
    width: 353px;
    height: 135px;
    background: #00bcd4;
    margin: 7px;
    color: white;
    padding: 10px 10px;
    font-family: AUTO;
    border-radius: 11px;
}

.card1 button {
    display: block;
    width: fit-content;
    margin-top: 4px;
}

.deposit-area2 {
    display: flex;
    justify-content: center;
}